@page "/"

<div class="col-12 pt-2 pb-2 text-center">
    <h1>Hello Visitor!</h1>
</div>
<div class="col-12 pt-2 pb-2 text-center">
    <h5>There's not much here yet but it is a WIP! Please visit the <a href="/About">about</a> page for information about me!</h5>
</div>
    

